.card-container {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  color: #2d71f6;
  border: 1px solid grey;
  border-radius: 10px;
  padding: 12px;
  margin: 5px;
  margin-bottom: 10px;
  cursor: pointer;
  max-width: 20vw;
  -moz-osx-font-smoothing: grayscale;
  backface-visibility: hidden;
  transform: translateZ(0);
  transition: transform 0.25s ease-out;
  -webkit-box-shadow: 7px 10px 13px -4px rgba(0, 0, 0, 0.71);
  -moz-box-shadow: 7px 10px 13px -4px rgba(0, 0, 0, 0.71);
  box-shadow: 7px 10px 13px -4px rgba(0, 0, 0, 0.71);
}

.card-container:hover {
  transform: scale(1.03);
}

img {
  max-width: 60%;
  max-height: 60%;
}

.image {
  margin: auto;
}
